@import '../../shared/mixines.scss';
@import '../../shared/constans.scss';

.bodycontent, .bodycontentright{
    display: flex;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin-top: 50px;

    @media (min-width: 1600px){
        height: 500px;

    }


    .bodycontent-img, .bodycontent-content{
        width: 50%;
        padding: 40px;
        padding-left: 0;
        box-sizing: border-box;

        .bodycontent-img_wrapper{
            width: 90%;
            height: 100%;
            overflow: hidden;
            border-radius: 0 20px 20px 0;
            @include block-img;   
        }

        .first-img {
            background-image: url('../../assets/BodyContent_1.png');
        }

        .second-img {
            background-image: url('../../assets/BodyContent_2.png');
        }

        .third-img{
            background-image: url('../../assets/BodyContent_4.png');
        }
    }

    .bodycontent-content{
        text-align: justify;
        position: relative;
        padding: 50px;

        h3{
            margin: 0;
            font-size: 2em;

            @media (min-width: 1600px){
                font-size: 2.7em;
            }
        }

        p{
            @media (min-width: 1600px){
                font-size: 1.5em;
            }
            
            @media (max-width: 1100px){
                font-size: .9em;
            }
        }

        .bodycontent-btn{
            background: $primarly-color;
            width: 100px;
            height: 30px;
            border-radius: $btn-radius;
            @include flex-center;
            position: absolute;
            bottom: 50px;
            cursor: pointer;

            
            &:hover > a{
                text-decoration: underline;
            }

            @media (min-width: 1600px){
                width: 150px;
                height: 50px;
                font-size: 1.3em;
            }

            a{
                color: white;
                text-decoration: none;
                text-align: center;

            }
        }
    }
}

.bodycontentright{
    flex-direction: row-reverse;
    gap: 2%;

    .bodycontent-content{
        width: 45%;
    }

    .bodycontent-img{
        width: 53%;
        display: flex;
        justify-content: end;
        padding-right: 0;

        .bodycontent-img_wrapper{
            border-radius: 20px 0 0 20px!important;

        }
    }


}

.bodycontent-prefooter{
    margin: auto;
    width: 90%;
    margin-top: 100px;



    .mySwiper{

        .slider-img{
            width: 150px;

            @media (max-width: 1350px){
                width: 100px;
            }
        }

        .swiper-pagination{
            margin-top: 100px;
        }
    }
      
}