@import '../../shared/mixines.scss';
@import '../../shared/constans.scss';

main {
    margin-top: 80px;
}

.bodycontent,
.bodycontentright {
    display: flex;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin-top: 50px;
    max-width: $xxl;
    margin: auto;

    .bodycontent-img,
    .bodycontent-content {
        width: 50%;
        padding: 40px 0;
        padding-left: 0;
        box-sizing: border-box;

        .bodycontent-img_wrapper {
            width: 95%;
            height: 100%;
            overflow: hidden;
            border-radius: 0 20px 20px 0;
            @include block-img;

            @media (min-width: $xxl) {
                border-radius: 20px;
            }
        }

        .first-img {
            background-image: url('../../assets/BodyContent_1.png');
        }

        .second-img {
            background-image: url('../../assets/BodyContent_2.png');
        }

        .third-img {
            background-image: url('../../assets/BodyContent_4.png');
        }
    }

    .bodycontent-content {
        text-align: justify;
        position: relative;
        padding: 50px 0 50px 50px;

        @media (max-width: $xxl) {
            padding: 50px;
        }

        h3 {
            margin: 0;
            font-size: 2em;
        }

        p {
            font-size: 1.2em;

            @media (max-width: $xl) {
                font-size: .9em;
            }
        }

        .bodycontent-btn {
            background: $primarly-color;
            width: 100px;
            height: 30px;
            border-radius: $btn-radius;
            @include flex-center;
            position: absolute;
            bottom: 50px;
            cursor: pointer;


            &:hover>a {
                text-decoration: underline;
            }

            @media (min-width: 1600px) {
                width: 150px;
                height: 50px;
                font-size: 1.3em;
            }

            a {
                color: white;
                text-decoration: none;
                text-align: center;

            }
        }
    }
}

.bodycontentright {
    flex-direction: row-reverse;

    .bodycontent-content {
        padding: 50px 50px 50px 0;

        @media (max-width: $xxl) {
            padding: 50px;
        }
    }

    .bodycontent-img {
        display: flex;
        justify-content: end;
        padding-right: 0;

        .bodycontent-img_wrapper {
            @media (max-width: $xxl) {
                border-radius: 20px 0 0 20px !important;
            }
        }
    }
}

.bodycontent-prefooter {
    margin: auto;
    max-width: $xxl;
    margin-top: 100px;

    @media (max-width: $xxl) {
        padding: 50px;
        margin-top: 0;
    }

    .mySwiper {

        .slider-img {
            width: 150px;

            @media (max-width: $xxl) {
                width: 120px;
            }

            @media (max-width: $xl) {
                width: 100px;
            }

            @media (max-width: $lg) {
                width: 80px;
            }
        }

        .swiper-pagination {
            margin-top: 100px;
        }
    }

}