$primarly-color: #0067b8;
$btn-radius: 2px;
$img-radius: 20px;
$footer-background: #f2f2f2;
$footer-color: #616161;
$socialmedia-beckground: #0078d4;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;