@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin block-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

@mixin background-gradient($image) {
    background: 
        linear-gradient(to right, rgba(0, 0, 0, 3.7) 15%, rgba(0, 0, 0, 0)),
        url($image);
    @include block-img;
}